# Created by .ignore support plugin (hsz.mobi)
#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
.settings*
.project*
node_modules
me.*
.idea/

# gulp-gh-pages
.publish
