<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">

    <title>{{#if title}}{{title}} - {{/if}}SPServices</title>

  </head>
  <body>

    {{#if title}}
      <h1>{{title}}</h1>
    {{/if}}

    {{{contents}}}
  </body>
</html>
