#SPServices_msgBox {
  position: absolute;
  width: 300px;
  height: 150px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  z-index: 30;
  font-family: 'Arial';
  font-size: 12px;
  display: none;
}
